.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VITRINE/FileContentIndex/0d7564e9-71e0-4e3e-a099-e03c8aadca5e.vsidx
.vs/VITRINE/FileContentIndex/53195fc3-ef1c-40a4-a1e3-06c908437a10.vsidx
.vs/VITRINE/FileContentIndex/6ebfaf06-2e4f-4805-a643-750895a86af5.vsidx
.vs/VITRINE/FileContentIndex/4a9a14e2-6a8d-4736-a805-61622e4938be.vsidx
.vs/VITRINE/FileContentIndex/2c2bfe5e-dd98-44f9-a267-3c5e24e19efa.vsidx
*.vsidx
.vs/
